# ESPHome Secrets Template
# Rename this file to secrets.yaml and fill in your values

wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
domain_url: ".local"
OTA_pin: "YOUR_OTA_PASSWORD"
